
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-form {
  min-width: 100%;
  max-width: 100%;
  font-size: 15px;
}

form{
  text-align: center;
}

button{
  margin: 0 0 0 10px;
}
.example-full-width {
  width: 10%;
}
.mat-form-field{
  margin: 0 0 0 10px;
}
.title{
  text-align: center;
}

p{
  font-size: 64px;
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  width: 100%;
}

.mat-elevation-z8{
  width: 60%;
}

.mat-header-cell{
  text-align: center;
  outline: 1px solid rgb(150, 150, 150);
}

.mat-cell{
  text-align: center;
  outline: 1px solid rgb(150, 150, 150);
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  padding: 0;
}

.demo-row-is-clicked {
  font-weight: bold;
}
