<div class="container">
  <div class="title">
    <p>Basic Table Grid</p>
  </div>

  <form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input
        type="text"
        matInput
        formControlName="Nome"
        [errorStateMatcher]="matcher"
        placeholder="Ex. Pablo"
      />
      <mat-error *ngIf="form.hasError('') && !form.hasError('required')">
        Digite um nome
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>SobreNome</mat-label>
      <input
        type="text"
        matInput
        formControlName="SobreNome"
        [errorStateMatcher]="matcher"
        placeholder="Ex. Vittar"
      />

      <mat-error *ngIf="form.hasError('required')">
        Idade é <strong>Obrigatória!</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Idade</mat-label>
      <input
        type="number"
        matInput
        formControlName="Idade"
        [errorStateMatcher]="matcher"
        placeholder="Ex. 19"
      />
      <mat-error *ngIf="form.hasError('required')">
        Digite sua Idade!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Saldo</mat-label>
    <input
      type="text"
      matInput
      formControlName="Saldo"
      [errorStateMatcher]="matcher"
      placeholder="Ex. R$ 15221"
    />
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
    <mat-error *ngIf="form.hasError('email') && !form.hasError('required')">
      Digite seu saldo bancario
    </mat-error></mat-form-field>

    <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="postData()">Enviar</button>
  </form>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="datasource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Numero</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="sobrenome">
        <th mat-header-cell *matHeaderCellDef>SobreNome</th>
        <td mat-cell *matCellDef="let element">{{ element.sobrenome }}</td>
      </ng-container>

      <ng-container matColumnDef="idade">
        <th mat-header-cell *matHeaderCellDef>Idade</th>
        <td mat-cell *matCellDef="let element">{{ element.idade }}</td>
      </ng-container>

      <ng-container matColumnDef="saldo">
        <th mat-header-cell *matHeaderCellDef>Saldo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.saldo | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>actions</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="deleteById(element.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </div>
</div>
